{% extends "base.html" %}


{% block content %}

       <section id="content-wrap" class="blog-single">
   	<div class="row">
   		<div class="col-twelve">

   			<article class="format-standard">


					<div class="primary-content">

						<h1 class="page-title">This Page does not exist, Perhaps this was a mistake ?</h1>
                        <h1 class="page-title"><a href="/">Click here to go back to the main page</a></h1>

					</div>
				</article>
			</div>
   	</div>


   </section>

{% endblock %}


{% block social %}
    <meta property="og:image" content=""/>
    <meta property="og:title" content="404"/>
    <meta property="og:url" content="https://neonews.me/"/>
    <meta property="og:site_name" content="NEONEWS.ME"/>
    <meta property="og:type" content="article"/>
{% endblock %}